.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}
.logo{
    height: 35px;
    background-color: #ff7f7f;
    float: left;
    animation: spin infinite 8s linear;
    -webkit-animation: spin infinite 8s linear ;
    -moz-animation: spin infinite 8s linear;
}

@keyframes spin {
    from {transform:rotateY(0deg);}
    to {transform:rotateY(360deg);}
}

@-moz-keyframes spin {
    from { -moz-transform: rotateY(0deg); }
    to { -moz-transform: rotateY(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0deg); }
    to { -webkit-transform: rotateY(360deg); }
}

.btn{
    float: right;
    padding-right: 8px;
    padding-left: 8px;
  
}

.tabs {
    margin-bottom: 20px;
  }
  
  .dispNone {
    display: none;
  }
  
  .dispBlock {
    display: block;
  }
  
  .red {
    color: red;
  }